{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - Mon panier{% endblock %}

{% block body %}
<div class="container bg-white p-5">
    <h1 class="titres">Mon panier</h1>
    <div class="row">
        {% if items | length > 0 %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="2"></th>
                    <th class="text-right">Prix</th>
                    <th colspan="2" class="text-center">Quantité</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td style="width: 16.66%"><img class="img-recette" src="/images/recettes/{{ item.recette.photo }}"></td> 
                    <td>{{ item.recette.nom }}</td>
                    <td class="text-right"> {{ item.prix }} €
                    </td>
                    <td class="text-center">
                        <a href="{{ path('baisse_panier', {'id': item.recette.id }) }}"><i class="fas fa-minus-circle mr-2"></i></a>
                        {{ item.quantite }}  
                        <a href="{{ path('ajout_panier', {'id': item.recette.id }) }}"><i class="fas fa-plus-circle ml-2"></i></a>
                        
                    </td>
                    <td><a href="{{ path('supprimer_panier', {'id': item.recette.id }) }}" class="fa fa-trash confirmModalLink"  data-toggle="modal" data-target="#supprProduit"></a></td>
                    <td class="text-right"> {{ item.prix  * item.quantite }} € </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row d-flex justify-content-between mt-3">
        <div>
            <button class='btn btn-light'>Vider mon panier</button>
        </div>
        <div class="row d-flex flex-column align-items-end">
            <div class="mb-2 h4">
                Panier : {{ totalPanier }} €
            </div>
            <div class="mb-4 h4">
                Frais de livraison : {{ fdp }} €
            </div>
            <div class="mb-2">
                <form class="d-flex justify-content-end" method="post">
                    <input type="text" class="form-control" name="code_promo" placeholder="Code promo">
                    <button type="submit" class="btn btn-warning">OK</button>
                </form>
            </div>
            <div class="mb-2 h2">
                Total : {{ totalCommande }} €
            </div>
            <div>
                <a class='btn btn-warning' href="{{ path('adresse_panier') }}">Valider mon panier</a>
            </div>
        </div>

    
    {% else %}
    <div class="panier-vide d-flex flex-column align-items-center">
        <p class="h2 my-5">Rien dans le panier :( </p>
            <img src="/images/divers/paniervide.svg" class="w-25">
        <a class="btn btn-warning my-5" href="{{ path('home') }}">Je commence mon shopping</a>
    </div>
        
    {% endif %}
</div>
</div>
    <!-- Modal -->
    <div class="modal fade" id="supprProduit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        Retirer cette recette du panier ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="annulerSuppr">Non, je la garde !</button>
                    <button type="button" class="btn btn-primary" id="confirmerSuppr">Oui, je l'enlève</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
