{% extends 'basetunnel.html.twig' %}

{% block title %}Miel & Coco - Mon adresse{% endblock %}

{% block body %}
<main class="container bg-white p-5">
    <h1 class="mb-5 offset-md-2 titres">Mon adresse de livraison</h1>
    <div class="formulaire col-md-5 offset-md-3 my-4">
    {{ form_start(formClient) }}
        <div class="form-row">
            <div class="col">
                {{ form_row(formClient.prenom) }}
            </div>
            <div class="col">
                {{ form_row(formClient.nom) }}
            </div>
        </div>
        <div>
            {{ form_row(formClient.adresse) }}
        </div>
        <div class="form-row">
            <div class="col-3">
                {{ form_row(formClient.cp) }}
            </div>
            <div class="col">
                {{ form_row(formClient.ville) }}
            </div>  
        </div>
        <div class="form-row">
            <div class="col-6">
                {{ form_row(formClient.telephone) }}
            </div>
        </div>
        <br>
        <div class="navigation d-flex justify-content-between w-100 my-3">
            <a class="btn btn-warning" href="{{ path('panier') }}"><i class="fas fa-caret-left"></i> Retour</a>
            <button class="btn btn-warning">Valider et payer ma commande <i class="fas fa-caret-right"></i></button>   
        </div>
    {{ form_end(formClient) }}
    </div>

</main>

{% endblock %}