{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - Cosmétiques maison{% endblock %}

{% block body %}

<main class="container-lg p-0 home-container">
    <section class="slider mb-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{path("recherche_recette", { nom: "miel"} )}}"><img class="d-block w-100" src="/images/slider/miel.png" alt="Miel"></a>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/slider/10pourcent.png" alt="codepromo">
            </div>
            <div class="carousel-item">
                <a href="{{path("recette_fiche", { id: 11} )}}"><img class="d-block w-100" src="/images/slider/huile.png" alt="huile"></a>
            </div>
        </div>
    </section>

    <section class="bestsellers mb-5 d-flex flex-column align-items-center">
        <h2 class="titres my-5"><i class="fas fa-star text-warning"></i> Les recettes du moment <i class="fas fa-star text-warning"></i></h2>

        <div class="d-flex justify-content-around w-100 flex-wrap">
        {% for recette in bestsellers %}
            <div class="vignette-recette m-2">
                <a href="{{path("recette_fiche", { id: recette.id } )}}"><img src="/images/recettes/{{ recette.photo }}" class="vignette-recette-img" alt="{{ recette.nom }}"></a>
                <div class="vignette-recette-body d-flex flex-column align-items-center p-4">
                    <a href="{{path("recette_fiche", { id: recette.id } )}}"><h5 class="vignette-recette-titre">{{ recette.nom }}</h5></a>
                    <p class="vignette-recette-texte p-2">{{ recette.description }} </p>
                    <div class="d-flex justify-content-around w-100">
                        <a href="{{path("recette_fiche", { id: recette.id } )}}" class="btn btn-warning">En savoir +</a>
                        <div class="bg-light rounded font-weight-bold border border-warning"><span class="mx-2">{{ recette.prixRecette }}€</span><a href="{{ path('ajout_panier', { id: recette.id }) }}" class="btn btn-warning"><i class="fas fa-shopping-basket"></i></a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <a href="{{path("recettes")}}" class="btn btn-warning btn-lg my-4">Toutes nos recettes</a>

    </section>
    <section class="garanties pb-5 d-flex flex-column align-items-center">
        <h2 class="titres mb-5">Miel & Coco s'engage</h2>
        <div class="engagement-all d-flex justify-content-around w-100 flex-wrap">
            <div class="engagement d-flex flex-column align-items-center text-center">
                <div class="engagement-vignette-img mb-2"><img class="engagement-img" src="/images/engagements/092-shield.svg"></div>
                <h5>Paiement sécurisé</h5>
                <p>Par carte bancaire avec le paiement 3D secure</p>
            </div>

            <div class="engagement d-flex flex-column align-items-center text-center">
                <div class="engagement-vignette-img mb-2"><img class="engagement-img" src="/images/engagements/078-box-3.svg"></div>
                <h5>Retours gratuits</h5>
                <p>Vous avez 14 jours pour renvoyer une commande qui ne vous conviendrait pas</p>
            </div>

            <div class="engagement d-flex flex-column align-items-center text-center">
                <div class="engagement-vignette-img mb-2"><img class="engagement-img" src="/images/engagements/074-delivery-truck.svg"></div>
                <h5>Livraison offerte dès 49€ d'achats</h5>
                <p>Livraison en relais colis, colissimo en France métropolitaine</p>
            </div>

            <div class="engagement d-flex flex-column align-items-center text-center">
                <div class="engagement-vignette-img mb-2"><img class="engagement-img" src="/images/engagements/087-telephone.svg"></div>
                <h5>Contactez-nous</h5>
                <p>Un souci ? Une question ? Nous vous répondons du lundi au samedi, de 9h à 17h au 01 23 45 67 89</p>
            </div>

            <div class="engagement d-flex flex-column align-items-center text-center">
                <div class="engagement-vignette-img mb-2"><img class="engagement-img" src="/images/engagements/077-shopping-bag.svg"></div>
                <h5>On aime, on soutient</h5>
                <p>Nous reversons 1% de nos bénéfices à l'association Minipousse, qui agit pour la biodiversité</p>
            </div>
        </div>

    </section>

</main>

{% endblock %}