{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - Recherche recettes{% endblock %}

{% block body %}


<div class="container bg-white p-5">
    <h2>Recettes</h2><br>

    <dl>
    {% for recette in liste_recettes %}
    <dl>
        <dt>
            <dd><img class="img-recette" src="/images/recettes/{{ recette.photo }}"></dd> 
            <dt><h4>{{ recette.nom }}</dt></h4>
            <dd><p>{{ recette.description }}</p></dd>
            <dd><p>{{ recette.instructions }}</p></dd>
            <dd><p>{{ recette.niveau }}</p></dd>
        </dt>
    </dl>
    {% endfor %}
    </dl>
</div>
{% endblock %}
