{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - Recherche{% endblock %}

{% block body %}


<div class="container py-5">

    <h2 class="titres">Résultats de votre recherche</h2>

    {# <dl>
    {% for produit in liste_produits %}
    <dl>
        <dt>
            <dd><img class="img-produit" src="/images/produits/{{ produit.photo }}"></dt> 
            <dt><h4>{{ produit.nom }}</h4></dt>
            <dd><p>{{ produit.unite }}</p></dd>
            <dd><p>{{ produit.prixunitaire }}</p></dd>
        </dt>
    </di>
    {% endfor %}
    </dl> #}
    {% if liste_recettes | length > 0 %}
    <div class="d-flex justify-content-around w-100 flex-wrap">
        {% for recette in liste_recettes %}
        <div class="vignette-recette m-2">
            <a href="{{path("recette_fiche", { id: recette.id } )}}"><img src="/images/recettes/{{ recette.photo }}" class="vignette-recette-img" alt="{{ recette.nom }}"></a>
            <div class="vignette-recette-body d-flex flex-column align-items-center p-4">
                <a href="{{path("recette_fiche", { id: recette.id } )}}"><h5 class="vignette-recette-titre">{{ recette.nom }}</h5></a>
                <p class="vignette-recette-texte">{{ recette.description|slice(0, 50) }} </p>
                <div class="d-flex justify-content-around w-100">
                    <a href="{{path("recette_fiche", { id: recette.id } )}}" class="btn btn-warning">En savoir plus</a>
                    <a href="{{ path('ajout_panier', { id: recette.id }) }}" class="btn btn-warning"><i class="fas fa-shopping-basket"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="d-flex flex-column align-items-center">
        <p class="h2 my-5">Votre recherche n'a retourné aucun résultat :(</p>
        <a class="btn btn-warning my-5 btn-lg" href="{{ path('home') }}">Retourner à l'accueil</a>
    </div>
    {% endif %}
</div>
{% endblock %}
