{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - Recherche{% endblock %}

{% block body %}


<main class="container bg-white p-5">

    <h1>Nos Recettes</h1>

    {# <dl>
    {# pour afficher une liste de produits fournie dans une variable appelée produit: #} 
    {# {% for produit in liste_produits %}
    <dl>
        <dt>
            <dd><img class="img-produit" src="/images/produits/{{ produit.photo }}"></dt> 
            <dt><h4>{{ produit.nom }}</h4></dt>
            <dd><p>{{ produit.unite }}</p></dd>
            <dd><p>{{ produit.prixunitaire }}</p></dd>
        </dt>
    </di>
    {% endfor %}
    </dl> #} 
        {# empty: pour vérifier si une variable est une chaîne vide, un tableau vide, un hachage vide, exactement faux ou exactement nul #}
        {% if liste_recettes is empty %}
                <section>
                        <div class="justify-content-around w-100"> 
                            <div class="align-items-center text-center">
                                <p class="h2 my-5">Désolé, aucun résultat ne correspond à votre recherche.</p> <br>
                                <a class="btn btn-warning my-5" href="">Toutes nos recettes</a>
                            </div>
                        </div>
                </section>      
        {% else %}
    <dl>
    {# pour afficher une liste de recettes fournie dans une variable appelée recette: #}
    {% for recette in liste_recettes %}
    {# <dl>
        <dt>
            <dd><img class="img-recette" src="/images/recettes/{{ recette.photo }}"></dd> 
            <dt><h4>{{ recette.nom }}</h4></dt>
            <dd><p>{{ recette.description }}</p></dd>
            <dd><p>{{ recette.instructions }}</p></dd>
            <dd><p>{{ recette.niveau }}</p></dd>
        </dt>
    </dl> #}
    <div class="vignette-recette m-2">
        <img src="/images/recettes/{{ recette.photo }}" class="vignette-recette-img" alt="{{ recette.nom }}">
        <div class="vignette-recette-body d-flex flex-column align-items-center p-4">
            <h5 class="vignette-recette-titre">{{ recette.nom }}</h5>
            <p class="vignette-recette-texte">{{ recette.description|slice(0, 50) }} </p>
            <div class="d-flex justify-content-around w-100">
                <a href="{{path("recette_fiche", { id: recette.id } )}}" class="btn btn-warning">En savoir plus</a>
                <a href="{{ path('ajout_panier', { id: recette.id }) }}" class="btn btn-warning"><i class="fas fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
    </dl>
    {% endif %}
</main>
{% endblock %}
