{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - {{ mode is defined ? mode|capitalize : "Ajouter" }} une recette{% endblock %}

{% block body %}
<div class="container">
{{ form_start(formRecette) }}
    {{ form_row(formRecette.photo) }}
    {% if mode is defined and mode == "Modifier" %} 
        <img class='img-recette' src='/images/recettes/{{ recette.photo }}'>
    {% endif %}
    <br>
    {{ form_row(formRecette.nom) }}
    <br>
    {{ form_row(formRecette.description) }}
    <br>
    {{ form_row(formRecette.instructions) }}
    <br>
    {{ form_row(formRecette.niveau) }}
    <br>
    {{ form_row(formRecette.categorie) }}
    <br>
    {# {{ form_row(formRecette.composition, { attr:{ "class":"form-inline" }}) }}
    <i class="fas fa-plus-circle"></i> Ajouter un autre ingrédient
    <br> #}
    <button class="btn btn-dark">Enregistrer</button>
{{ form_end(formRecette) }}
</div>
{% endblock %}