{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - {{ mode is defined ? mode|capitalize : "Ajouter" }} un produit{% endblock %}

{% block body %}
<div class="container">
{{ form_start(formProduit) }}
    {{ form_row(formProduit.photo) }}
    {% if mode is defined and mode == "Modifier" %} 
        <img class='img-produit' src='/images/produits/{{ produit.photo }}'>
    {% endif %}
    <br>
    {{ form_row(formProduit.nom) }}
    <br>
    {{ form_row(formProduit.unite) }}
    <br>
    {{ form_row(formProduit.prix_unitaire) }}
    <br>
    <button class="btn btn-dark">{{ mode is defined ? mode|capitalize : "Ajouter" }}</button>
{{ form_end(formProduit) }}
</div>
{% endblock %}