{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - Administration produits{% endblock %}

{% block body %}
<div class="container">
    <h1>Administration - Produits</h1>
    <div class="d-flex justify-content-between">
        <p>Nombre de produits : {{ liste_produits|length }}</p> 
        <p><a href="{{ path("admin_produit_ajouter") }}" class="btn btn-dark">Ajouter un produit</a></p>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Nom du produit</th>
                <th>Unité</th>
                <th>Prix unitaire</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        {% for produit in liste_produits %}
            <tr>
                <td><img class="img-produit" src="/images/produits/{{ produit.photo }}"></td> 
                <td>{{ produit.nom }}</td>
                <td>{{ produit.unite }}</td>
                <td>{{ produit.prixUnitaire }}</td>

                <td><a href="{{ path("admin_produit_modifier", { id: produit.id }) }}" class="fa fa-pen"></a></td>
                <td><a href="{{ path("admin_produit_supprimer", { id: produit.id }) }}" class="fa fa-trash"></a></td>
            </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
