{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - Toutes nos recettes pour le visage{% endblock %}

{% block body %}

<div class="container p-3">
    <h1 class="ml-4">Visage</h1>
         <div class="d-flex justify-content-left w-100 flex-wrap">
        {% for recette in categVisage %}
            <div class="vignette-recette m-4">
                <img src="/images/recettes/{{ recette.photo }}" class="vignette-recette-img" alt="{{ recette.nom }}">
                <div class="vignette-recette-body d-flex flex-column align-items-center p-4">
                    <h5 class="vignette-recette-titre">{{ recette.nom }}</h5>
                    <p class="vignette-recette-texte">{{ recette.description|slice(0, 50) }} </p>
                    <div class="d-flex justify-content-around w-100">
                        <a href="{{path("recette_fiche", { id: recette.id } )}}" class="btn btn-warning">En savoir plus</a>
                        <a href="#" class="btn btn-warning"><i class="fas fa-shopping-basket"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
</div>

{% endblock %}