{% extends "base.html.twig" %}

{% block title %} Modifier la commande {% endblock %}


{% block body %}

<div class="container bg-white p-5">
    <div>
        <h2>Commande n°{{ commande.id }} - {{ commande.date|date("d/m/Y") }} - {{ commande.montant }}€</h2>
        <p>Client n°{{ commande.client.id }} - {{ commande.client.nom|upper }} {{ commande.client.prenom }}</p>
    </div>

    <div class="col-md-5">
    {{ form_start(formCommande) }}

        {{ form_row(formCommande.etat) }}
        
        <button class="btn btn-warning">Enregistrer</button> 

    {{ form_end(formCommande) }}
    </div>

</div>



{% endblock %}