{% extends "base.html.twig" %}

{% block title %} Modifier la commande {% endblock %}


{% block body %}

<div class="container bg-white p-5">


    <form>
        <div class="form-group">
            <label for="id">Id commande</label>
            <input type="text" class="form-control"  placeholder="{{ commande.id }}" readonly>
        </div>
        <div class="form-group">
            <label for="client_id">Id client</label>
            <input type="text" class="form-control"  placeholder="{{ commande.client.id }}" readonly>
        </div>
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control"  placeholder="{{ commande.client.nom }}" readonly>
        </div>
        <div class="form-group">
            <label for="montant">Montant</label>
            <input type="text" class="form-control"  placeholder="{{ commande.montant }}" readonly>
        </div>

    </form>

    {{ form_start(formCommande) }}

    {{ form_row(formCommande.etat) }}
    
    <button class="btn btn-dark">Enregistrer</button> 

    {{ form_end(formCommande) }}

</div>



{% endblock %}