{% extends "base.html.twig" %}

{% block title %} Liste des commandes {% endblock %}

{% block body %}
    
<div class="container bg-white p-5">
    <h1>Administration - Commandes</h1>
    <p>Nombre de commandes : {{ taille }}</p> 
    <table class="table table-hover">
        <thead class="bg-light">
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Nom</th>
                <th>Montant</th>
                <th>Date - Heure</th>
                <th>Etat</th>
                <th>Action</th>
            </tr>
        </thead>
            {% for commande in commandes %}
                <tr>
                    <td class="align-middle">{{ commande.id }}</td>
                    <td class="align-middle">{{ commande.client.id }}</td>
                    <td class="align-middle">{{ commande.client.nom }}</td>
                    <td class="align-middle">{{ commande.montant}}</td>
                    <td class="align-middle">{{ commande.date|date("m/d/Y - H:i:s")}}</td>
                    <td class="align-middle">{{ commande.etat}}</td>
                    <td class="align-middle"><a href="{{ path("commande_modifier", { id: commande.id }) }}" class="fa fa-pen"></a></td>
                </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}