{% extends "base.html.twig" %}

{% block title %}Miel & Coco - Liste des commandes {% endblock %}

{% block body %}
{% if is_granted("ROLE_ADMIN") %}

<div class="container bg-white p-5">
    <h1>Administration - Commandes</h1>
    <p>Nombre de commandes : {{ taille }}</p> 
    <table class="table table-bordered">
        <thead class="bg-light">
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Nom</th>
                <th>Montant</th>
                <th>Date - Heure</th>
                <th>Etat</th>
                <th>Action</th>
            </tr>
        </thead>
            {% for commande in commandes %}
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.client.id }}</td>
                    <td>{{ commande.client.nom }}</td>
                    <td>{{ commande.montant}}</td>
                    <td>{{ commande.date|date("m/d/Y - H:i:s")}}</td>
                    <td>{{ commande.etat}}</td>
                    <td><a href="{{ path("commande_modifier", { id: commande.id }) }}"class="fa fa-pen"></a></td>
                </tr>
        {% endfor %}
    </table>
</div>

{% endif %}
{% endblock %}