{% extends "base.html.twig" %}

{% block title %} Liste des commandes {% endblock %}

{% block body %}
    
<div class="container">
    <h3>Administration - Commandes</h3>
    <br>
    <div class="d-flex justify-content-between">
        <p>Nombre de commandes : {{ taille }}</p> 
    </div>
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Nom</th>
                <th>Montant</th>
                <th>Date - Heure</th>
                <th>Etat</th>
                <th>Action</th>
            <tr>
            {% for commande in commandes %}
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.client.id }}</td>
                    <td>{{ commande.client.nom }}</td>
                    <td>{{ commande.montant}}</td>
                    <td>{{ commande.date|date("m/d/Y - H:i:s")}}</td>
                    <td>{{ commande.etat}}</td>
                    <td><a href="{{ path("commande_modifier", { id: commande.id }) }}"class="fa fa-pen"></a></td>
                </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}