<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags("app") }}{% endblock %}
    </head>
    <body>
    <header class="bg-white" id="haut">
        <div class="header container engagement-all d-flex justify-content-around w-100 flex-wrap">
            <a class="navbar-brand" href="{{ path('home') }}"><img class="logo" src="/images/divers/logomielcoco.png" alt="Miel&Coco"></a>

            <form class="form-inline my-2 my-lg-0 " method="POST" action="{{ path('recherche') }}">
                <input class="form-control mr-sm-2 border-warning" type="search" name="recherche" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>  
                <ul class="nav navbar-nav navbar-right ">
                {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                    <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
                    <a class="nav-link" href="{{ path("user_register") }}">Créer un compte</a>
                {% endif %}

                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <a class="nav-link" href="{{ path("app_logout") }}">Déconnexion</a>
                {% endif %}
                
                {% if is_granted("ROLE_USER") %} 
                    <a class="nav-link" href="">Mon compte</a>
                {% endif %}
                    <li class="nav-item">
                      <a href="{{ path("panier") }}" class="text-warning h2"><i class="fas fa-shopping-cart"></i></a>
                    </li>
        </div>
        <div class=" navigation bg-light">
          <nav class=" container navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  {# si l'ADMIN est connecte #}
                  {% if is_granted("ROLE_ADMIN") %} 
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path("admin_produit") }}">Produits</a>
                            <a class="dropdown-item" href="{{ path("admin_recette") }}">Recettes</a>
                            <a class="dropdown-item" href="{{ path("admin_categorie") }}">Categories</a>
                            <a class="dropdown-item" href="{{ path("user_list") }}">Utilisateurs</a>
                            <a class="dropdown-item" href="{{ path("liste_commande") }}">Commandes</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>

                <ul class="container navbar-nav mr-auto mt-2 mt-lg-0"id="menu">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path("home") }}"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path("recettes") }}">RECETTES</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path("corps") }}">CORPS</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path("cheveux") }}">CHEVEUX</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path("visage") }}">VISAGE</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path("accessoires") }}">ACCESSOIRES</a>
                    </li>
                </ul>

            </div>
          </nav>
        </div>
    </header>
   
        {% for type, messages in app.flashes %}
        <div class="container my-4">
          <div class="alert alert-{{ type }} col-md-4">
              {% for message in messages %}
                  {{ message }}
              {% endfor %}
          </div>
        </div>
        {% endfor %}
    
        {% block body %}{% endblock %}
        <!-- Footer -->
    <!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-xs-6 col-md-5 ">
        <a href="#haut"><img class="logo mb-3" src="/images/divers/logomielcoco.png" alt="Miel&Coco"></a>
    </div>
    <div class="col-xs-6 col-md-4">
        <h6 class="font-weight-bold">A propos de Miel & Coco</h6>
        <ul class="footer-links">
          <li><a href="{{ path('qui_sommes_nous') }}">Qui sommes nous?</a></li>
          <li><a href="{{ path('cosmetique_bio') }}">Cosmétique Bio</a></li>
          <li><a href="{{ path('cgv_mentions') }}">Conditions générales de vente</a></li>
          <li><a href="{{ path('cgv_mentions') }}">Mentions légales</a></li>
          <li><a href="{{ path('cgv_mentions') }}">Protection des données </a></li>
        </ul>
      </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">2020 &copy;Miel&Coco. Tous droits réservés.</p>
      </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook"><i class="fab fa-facebook"></i></a></li>
              <li><a class="twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a class="instagram"><i class="fab fa-instagram"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
      {% block javascripts %}{{ encore_entry_script_tags("app") }}{% endblock %}
    </body>
</html>
