<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags("app") }}{% endblock %}
    </head>
    <body>
    <header class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <nav class="container" >
            <a class="navbar-brand" href="{{ path('home') }}">Miel & Coco (nav temporaire)</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path("admin_produit") }}">Produits</a>
                            <a class="dropdown-item" href="{{ path("admin_recette") }}">Recettes</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" name="recherche" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container my-4">
        {% for type, messages in app.flashes %}
        <div class="alert alert-{{ type }} col-md-4">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags("app") }}{% endblock %}
    </body>
</html>
