<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags("app") }}{% endblock %}
    </head>
    <body>
    <header class="container">
        <div class="header">
            <a class="navbar-brand" id="logo" href="{{ path('home') }}">Miel & Coco </a>

                <form class="form-inline  my-2 my-lg-0" method="POST">
                    <input class="form-control mr-sm-2" type="search" name="recherche" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit" href="{{ path('recherche') }}"><i class="fas fa-search"></i></button>
                </form>  
                <li class="nav-item">
                {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                    <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
                    <a class="nav-link" href="{{ path("user_register") }}">Créer un compte</a>
                {% endif %}

                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <a class="nav-link" href="{{ path("app_logout") }}">Déconnexion</a>
                {% endif %}
                
                {% if is_granted("ROLE_USER") %} 
                    <a class="nav-link" href="">Mon panier<i class="fas fa-shopping-cart"></i></a>
                {% endif %}
                
                </li>

        </div>
        <nav class="container navbar-expand-lg navbar-light bg-light mb-3">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                {# si l'ADMIN est connecte #}
                 <ul class="navbar-nav mr-auto">
                    {% if is_granted("ROLE_ADMIN") %} 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path("admin_produit") }}">Produits</a>
                            <a class="dropdown-item" href="{{ path("admin_recette") }}">Recettes</a>
                            <a class="dropdown-item" href="{{ path("admin_categorie") }}">Categories</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("user_list") }}">Utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("liste_commande") }}">Commandes</a>
                    </li>
                    {% endif %}
                </ul>


                <ul class="navbar-nav mr-auto"id="menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("home") }}"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("corps") }}">CORPS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("cheveux") }}">CHEVEUX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("visage") }}">VISAGE</a>
                    </li>
                </ul>
            </div>

        </div>
    </header>
    <div class="container my-4">
        {% for type, messages in app.flashes %}
        <div class="alert alert-{{ type }} col-md-4">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
        {% block body %}{% endblock %}
        
        <!-- Footer -->
    <!-- Footer -->
<footer class="container expand-lg light bg-light mb-3">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-32 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">A propos de Miel & Coco</h6>
        <p>
          <a href="{{ path('qui_sommes_nous') }}">Qui sommes nous?</a>
        </p>
        <p>
          <a href="{{ path('cosmetique_bio') }}">Cosmétique Bio</a>
        </p>
        <p>
          <a href="{{ path('cgv_mentions') }}">Conditions générales de vente</a>
        </p>
        <p>
          <a href="{{ path('cgv_mentions') }}">Mentions légales</a>
        </p>
        <p>
          <a href="{{ path('cgv_mentions') }}">Protection des données </a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <img class="" src=""><h3 class="text-uppercase mb-4 font-weight-bold">Miel & Coco</h3>
        <p class="text-center text-md-left">© 2020 - Tous droits réservés.<br>
          <a href="{{ path('home') }}"> Miel & Coco </a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
       <h6 class="text-uppercase mb-4 font-weight-bold">Nous suivre</h6>
        <!-- Social buttons -->
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Grid column -->
 
    </div>
    <!-- Footer links -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
        {% block javascripts %}{{ encore_entry_script_tags("app") }}{% endblock %}
    </body>
</html>


